<!DOCTYPE html>
<html lang = "en">
    <head>
         <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <!-- Title -->
        <title>SolidarioMX - 404 P&aacute;gina no encontrada</title>
        
        <!-- Favicon -->
        <link rel="icon" href="/img/core-img/favicon.ico">
        
         <!-- Core Stylesheet -->
        <link href="/style.css" rel="stylesheet">

        <!-- Responsive CSS -->
        <link href="/css/responsive/responsive.css" rel="stylesheet">   
    </head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    <!-- ***** Search Form Area ***** -->
    <div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Search Your Desire Destinations or Events">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/index.html"><img src="/img/core-img/logo.png" alt="" width="60%"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(/img/bg-img/trex404.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="hero-content">
                        <h2>Oops!</h2>
                        <h4>No se puede encontrar la p&aacute;gina que est&aacute;s buscando, intenta con alguna otra.</h4>
                        <h4 color = "WHITE">Aqu&iacute; hay algunos links que te pueden ayudar : </h4>
                        
                        <p>
                        </p>
                         <p>
                        </p>
                         <p>
                        </p>
                        
                        <div >
                            <style>
                                a{
                                    color :blanchedalmond;
                                }
                            </style>
                            
                                 <ul >
                                    <li>
                                        <a href="/">Incio </a>
                                    </li>
                                    <li >
                                        <a href="/about" >Con&oacute;cenos </a>
                                    </li>
                                    <li >
                                        <a  href="/listing" >Explora </a>
                                    </li>
                                    <li >
                                        <a href="/contact" >Contacto </a>
                                    </li>
                                     <li>
                                         <a href="/javascript:history.back()">Regresar a p&aacute;gina anterior</a>
                                     </li>    
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/others/plugins.js"></script>
    <!-- Active JS -->
    <script src="/js/active.js"></script>
</body>
</html>