<!DOCTYPE html>
<html lang="en">

<% include Reusable/head.ejs %>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    <% include Reusable/header.ejs %>

    <!-- ***** Welcome Area Start ***** -->
    <section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(img/bg-img/home-bg.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="hero-content">
                        <h2>Obt&eacute;n recompensas</h2>
                        <h4>por consumir local y apoyar al desarrollo comunitario.</h4>
                    </div>
                    <!-- Hero Search Form -->
                    <div class="hero-search-form">
                        <!-- Tabs Content -->
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                                <h6>¿Qu&eacute; est&aacute;s buscando?</h6>
                                <form action="#" method="get">
                                    <select class="custom-select" id="zone">
                                        <option selected>Todas las zonas</option>
                                        <option value="1">Zona Real</option>
                                        <option value="2">Providencia</option>
                                        <option value="3">Centro</option>
                                        <option value="4">Ciudad del Sol</option>
                                    </select>
                                    <select class="custom-select" id="cat">
                                        <option selected>Todas las categor&iacute;as</option>
                                        <option value="1">Restaurantes</option>
                                        <option value="2">Tienditas</option>
                                        <option value="3">Belleza</option>
                                        <option value="4">Servicios</option>
                                        <option value="3">Otros</option>
                                    </select>
                                      <button type="button" class="btn dorne-btn" id="search-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Catagory Area Start ***** -->
    <section class="dorne-catagory-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="all-catagories">
                        <div class="row">
                            <!-- Single Catagory Area -->
                            <div class="col-12 col-sm-6 col-md">
                                <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                                    <div class="catagory-content">
                                        <img src="img/core-img/icon-2.png" alt="">
                                        <a href="/listing?cat=Restaurantes&zone=">
                                            <h6>Restaurantes</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Catagory Area -->
                            <div class="col-12 col-sm-6 col-md">
                                <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                                    <div class="catagory-content">
                                        <img src="img/core-img/icon-3.png" alt="">
                                        <a href="/listing?cat=Tienditas&zone=">
                                            <h6>Tienditas</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Catagory Area -->
                            <div class="col-12 col-sm-6 col-md">
                                <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                                    <div class="catagory-content">
                                        <img src="img/core-img/icon-4.png" alt="">
                                        <a href="/listing?cat=Belleza&zone=">
                                            <h6>Belleza</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Catagory Area -->
                            <div class="col-12 col-sm-6 col-md">
                                <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                                    <div class="catagory-content">
                                        <img src="img/core-img/icon-1.png" alt="">
                                        <a href="/listing?cat=Servicios&zone=">
                                            <h6>Servicios</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Catagory Area -->
                            <div class="col-12 col-md">
                                <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                                    <div class="catagory-content">
                                        <img src="img/core-img/icon-5.png" alt="">
                                        <a href="/listing?cat=Otros&zone=">
                                            <h6>Otros</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Catagory Area End ***** -->

    <!-- ***** About Area Start ***** -->
    <section class="dorne-about-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-content text-center">
                        <h2>CONSUME LOCAL, <br><span>OBT&Eacute;N recompensas.</span></h2>
                        <p>&Uacute;nte a SolidarioMX, la plataforma que te permite descubrir negocios locales de tu comunidad<br>y te recompenza por consumir en ellos.</p>
                        <p><br><a href="/about" class="btn dorne-btn">¿Cómo funciona?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area End ***** -->

    <!-- ****** Footer Area Start ****** -->
    <footer class="dorne-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-flex align-items-center justify-content-between">
                    <div class="footer-text">
                        <p>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->
    <script src="js/search.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>

</body>

</html>
