<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="css/profile.css">
        <% include Reusable/head.ejs %>        
    </head>

    <body>
        <!-- Preloader -->
        <div id="preloader">
            <div class="dorne-load"></div>
        </div>

            <% include Reusable/header.ejs %>

        <!-- ***** Breadcumb Area Start ***** -->
        <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/hero-1.jpg)">
        </div>
        <!-- ***** Breadcumb Area End ***** -->

        <!-- ***** About Area Start ***** -->
        <section class="dorne-about-area section-padding-0-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-content text-center">
                        <br><br>
                            <img src="<%= avatar %>" alt="Smiley face" height="200" width="200" id="profileImage">
                            <h2><%= name %> <span><%= last_name %></span></h2>
                            <p>Bienvenido, en este momento cuentas con <span style="font-size: 25px; font-weight: bold"><%= score %>pts</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** About Area End ***** -->

        <!-- ****** Footer Area Start ****** -->
        <footer class="dorne-footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-md-flex align-items-center justify-content-between">
                        <div class="footer-text">
                            <p>

    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->

        <!-- Active JS -->
        <script src="js/active.js"></script>
    </body>

</html>
