#profileImage{
    border-radius: 100%;
}

#dropdownMenuButton{
    background-color: transparent !important;
    border-color: transparent !important;
    margin-left: 50px;
}

#dropdownMenuButton{
    cursor: pointer;
}

#transactions-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-head th{
    background-color: rgb(65, 21, 105)!important;
    color:white;
}