<!-- ***** Header Area Start ***** -->
<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html"><img src="/img/core-img/logo.png" alt="" width="60%"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    <!-- Nav -->
                    <div class="collapse navbar-collapse" id="dorneNav">
                        <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Incio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">Con&oacute;cenos </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/listing">Explora </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contacto </a>
                            </li>
                        </ul>
                        <% if(auth){ %>       
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100px">
                                        <img alt="profilepic" src="img/defaultProfile.jpg" style="width: 60px; height: 50px; border-radius: 100%">
                                    </button>
                                    
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Perfil</a>
                                    <a class="dropdown-item" href="#" id="cerrarSesion">Cerrar sesión</a>
                                </div>
                            </div>
                        <% } else{ %>
                        <div class="dorne-signin-btn">
                                <a href="#" id="login">Iniciar Sesi&oacute;n</a>
                            </div>
                            <!-- Add listings btn -->
                            <div class="dorne-add-listings-btn">
                                <a href="#" class="btn dorne-btn" id="register">&Uacute;nete</a>
                            </div>
                            <div>
                        <% } %>    
                        
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<script src="/js/registroEInicio.js"></script>
<link rel="stylesheet" type="text/css" href="css/profile.css">

<!-- ***** Header Area End ***** -->
